zsh_nogit filter=lfs diff=lfs merge=lfs -text
zsh_nogit/.local/share/zinit/plugins/vim---vim/.gits/objects/pack/pack-4b72ac9ba82f3092849c57036d7a7a7e3b6afe5d.pack filter=lfs diff=lfs merge=lfs -text
zsh_nogit/.local/share/zinit/plugins/vim---vim/.gits/objects/pack/pack-4b72ac9ba82f3092849c57036d7a7a7e3b6afe5d.idx filter=lfs diff=lfs merge=lfs -text
